:root{
    --primary-color: linear-gradient(80deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    --pale-blue-color: hsl(243, 100%, 93%);
    --grayish-blue-color: hsl(229, 7%, 55%);
    --dark-blue-color: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--very-dark-blue);
}



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.folder{
    width: 100%;
}

body{
    background-image: url("./images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    display: grid;
    place-items: center;
    height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
    width: 100%;
}

.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--dark-blue-color);
    padding: 30px 100px 30px 30px;
    border-top-right-radius: 75px !important;
    border-radius: 5px;
    margin-left: 70px;

}

.buttons{
    display: flex;
    align-items: center;
    gap: 20px;

}

.button{
    padding: 10px;
    background-color: var(--very-dark-blue);
    border-radius: 5px;
    display: grid;
    place-items: center;
}

.section2{
    background-color: var(--dark-blue-color);
    height: 100%;
    width: 40%;
    padding: 30px 70px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    border-radius: 10px;
}

.suspended{
    background-color: #fff;
    margin: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -25%;
    right: 5%;
    padding: 10px 20px;
    border-radius: 5px;
}

.number{
    color: var(--very-dark-blue);
    font-size: 32px;
}

.letter{
    color: var(--grayish-blue-color);
    font-size: 10px;
}

.progress-bar{
    background-color: var(--very-dark-blue);
    height: 20px;
    width: 100%;
    border-radius: 25px;
}

.inner-bar{
    margin: 0;
    height: 100%;
    background: var(--primary-color);
    width: 80%;
    border-radius: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ball{
    background: #fff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 2px;

}


.storage{
    display: flex;
    margin: 0;
    justify-content: space-between;
    color: #fff;
}

.section-title{
    color: #fff;
}

.bold{
    font-weight: 700;
}

/* Mobile styling*/


@media only screen and (max-width: 375px)  {
    
    body{
        background-image: url(/images/bg-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section1{
        margin: 0;
    }

    .section2{
        height: 50%;
        width: 80%;
    }
}