:root{
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    font-size: 18px;
}


.heading{
    color: var(--dark-grayish-blue);
    font-weight: 600;
    
}

.text{
    color: var(--grayish-blue);
    text-align: center;
    margin-left: 3rem;
    line-height: 1.5rem;
}

main{
    margin: 0 auto;
    width: 750px;
    position: relative;
    
}

a{
    color: #fff;
    text-decoration: none;
}

.btns{
    display: flex;
    gap: 1rem;
}

.btn{
    padding: 10px 20px;
    background-color: var(--strong-cyan);
    border-radius: 25px;
    text-align: center;
}

.btn-one{
    background-color: var(--strong-cyan);
}
.btn-two{
    background-color: var(--light-blue);
}
    
.header-section{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    
}


/* first section */

.main-section{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
    
}

.heading-one{
    font-size: 2.5rem;
    line-height: 4.5rem;
    
}

.intro-section{
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center;
    margin-bottom: 1.5rem;
}


/* second section*/


.content-section{
    display: flex;
    gap: 2rem;
}



